/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* Custom CSS */

/* General Styling */
body {
    font-family: 'Tahoma', sans-serif;
}

#container {
    text-align: center;
    font-size: 1.5rem;
}

.page-body {
    font-size: 1.5rem;
}

.page-name, 
.employee-name {
    margin: 25px 0;
}

/* Nav Logo Styling */
.nav-logo {
    width: 15%;
    height: 150px;
    margin: 0 auto;
}

.nav-logo img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Data Table Styling */
table {
    border-collapse: collapse;
    width: 65%;
    margin: 0 auto;
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

thead th {
    padding: 1em;
}

td {
    border-bottom: 1px solid rgb(157 157 157);
}

thead {
    background-color: #333;
    color: #fff;
}

#date-cell {
    width: 25%;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

.svg-logo {
    width: 25px;
    height: 25px;
}





